#ogvStage {
  position: relative;
  overflow: hidden;
  width: 768px;
  height: 1024px;
}

#portrait {
  width:768px;
  height:1024px;
}

#frames {
  position: absolute;
  display: block;
  width: 768px;
  height: 177px;
}

#texto {
  position: absolute;
  background-image: url(../img/texto_central.png);
  background-repeat: no-repeat;
  background-position: 0 -460px;
  width: 768px;
  height: 98px;

  -webkit-mask-image: url(../img/rect.jpg);
  -webkit-mask-position: 768px 0;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 768px 98px;
}

.pack {
  position: absolute;
  background-image: url(../img/pack.jpg);
  background-repeat: no-repeat;
  width:768px;
  height:1024px;
  top: 0px;
  left: 0px;
  /*opacity: 0;*/

  -webkit-mask-image: url(../img/pack_rect.jpg);
  -webkit-mask-position: 0 -100px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 768px 0px;
}

/* Commom */
.pack-default {
  -webkit-mask-position: 0 0;
  -webkit-mask-size: 768px 1024px;
  -webkit-transition:all 1.2s;
}

.hide {
  opacity: 0;
  -webkit-transition:all 0.5s;
}

.none {
  display:none !important;
}
