/* ==========================================================================
      Prevent iOS Tap feedback
      ========================================================================== */
 * {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
 }
/* ==========================================================================
   Reuse / Common
   ========================================================================== */
#safeArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
}

#log {
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  width: 500px;
  background-color: rgba(0,0,0,.5);
  -webkit-transform: translateZ(0);
}

#log p {
  margin: 13px 0 10px 10px;
  width: 95%;
  color: rgba(0,165,0,1);
  word-wrap:break-word;
  font-size: 11px;
  font-family: Helvetica Neue;
}

.opacity0 {
  opacity: 0;
  -webkit-transition: opacity 1s;
}